@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "MontserratItalic";
    src: url("./Assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "MontserratRegular";
    src: url("./Assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");

  }

  @font-face {
    font-family: "SourceSansProBold";
    src: url("./Assets/fonts/source-sans-pro/SourceSansPro-Bold.otf");
  }
  @font-face {
    font-family: "SourceSansProRegular";
    src: url("./Assets/fonts/source-sans-pro/SourceSansPro-Regular.otf");
  }
  @font-face {
    font-family: "PragmaticaExtraLight";
    src: url("./Assets/fonts/Pragmatica-ExtraLight.ttf");
  }
  